html {
    width: 100vw;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-top: 0;
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
a {
    text-decoration: none;
    color: grey;
}
h2 {
    font-family: acier-bat-gris, sans-serif;
    color: grey;
}

////////////////////////////////////*en-tête*///////////////
header {
    width: 100%;
    min-height: 5vh;
    
}
 @media screen and (min-width: 1024px) {
    header {
        width: 100%;
        min-height: 10vh;

    }
}
header nav {
    width: 100%;
    min-height: 5vh;
    display: flex;
    border-bottom: solid grey 2px   ;
    background-color: gainsboro;
    position: fixed;

    
}
@media screen and (min-width: 1024px){
    header nav {
        width: 100%;
        height: 10vh;
        display: flex;
        border-bottom: solid grey 2px   ;
        background-color: gainsboro;
        position: fixed;    
    }

}
.brand-name {
    
    display: flex;
    justify-content: start;
    display: none;
    flex: 1;
    
}  
@media screen and (min-width: 1024px) {
    .brand-name {
        display: flex;
        justify-content: start;
        flex: 15%;

    }
}
.brand-name h2 {
    color: black;
    font-family: acier-bat-gris, sans-serif;
    font-style: normal;
    font-weight: 400;
    align-self: center;
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2vw;
}
@media screen and (min-width: 1024px) {
    .brand-name h2 {
        color: black;
        font-family: acier-bat-gris, sans-serif;
        font-style: normal;
        font-weight: 400;
        align-self: center;

    }
}
.navbar {
    display: flex;
    flex: 2;
    flex-direction:row;
    justify-content: space-around;
    width: 100%;
    
}
@media screen and (min-width: 1024px) {
    .navbar {
        display: flex;
        flex: 85%;
        justify-content: start;
        width: 100%;
    }
}
.navlink {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    
}
.navlink button {
    border-style: none;
    background-color: gainsboro;
    height: 90%;
}
.navlink button a {
    text-decoration: none;
    color: grey;
    display: flex;
    align-self: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media screen and (min-width: 1024px) {
    
    .navlink button:hover {
        
        color: gainsboro;
        transform: scale(1.2);
        transition: 0.2s;
    }
}

.navlink-xl {
    display: none;
    
}

@media screen and (min-width: 1024px) {
    .navlink-xl {
        display: flex;
        margin-left: 5%;
        margin-right: 5%;
        

    }
    .navlink-xl button {
        border-style: none;
        background-color: gainsboro;
        height: 90%;
        

    }
    .navlink-xl button:hover {
        
        transform: scale(1.2);
        transition: 0.2s;
    }
    .navlink-xl button a {
        text-decoration: none;
        color: grey;
        display: flex;
        align-self: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        

    }
    #forxl1 {
        display: flex;
        color: rgb(196, 76, 36);

    }

}
#fornavbar {
    display: none;
}
@media screen and (min-width: 1024px) {
    #fornavbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 5vw;
        height: 90%;
        
        
        
    }
    #fornavbar a {
        color: grey;
        text-decoration: none;
        margin: 10%;
        
    }
}
/////////////////////////////////*main*////////////////////

main {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-bottom: 10vw;

}
main .events-nav {
    display: flex;
    width: 100%;
    max-height: 5vh;
}
.events-nav button {
    max-height: 100%;
    display: flex;
    flex: 1;
    background-color: rgb(39, 41, 40);
    justify-content: center;
    border: none;

    & a {
        color: gainsboro;
        align-self: center  ;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

    }
}
.carousel h2 {
    text-align: center;
    color: grey;
    
}    
.carousel h3, p {
    color: gainsboro;
}

.carousel-list {
    list-style-type: none;
    display: flex;
    overflow-x: scroll;
    padding: 0;
}
.carousel-item {
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom:  2rem;
    padding-top: 1rem;
    flex-shrink: 0;
    flex-basis: 70vw;
    background-color: rgb(39, 41, 40);
    border: 1px solid grey;
    border-radius: 20px;
}
.card {
    padding: 1rem;
}
.card-img {
    width: 70vw;
    height: 30vh;
    border-radius: 20px;
    border: 1px solid gainsboro;
    
}
.place::before {
    content:'\f015';
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
}


.date::before {
    content:'\f073';
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
}
.price::before {
    content: '\f02b';
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    
}
.card-footer button {
    background-color: rgb(4, 94, 100);
    border: none;
    border-radius: 10px;
    width: 6rem;
    height: 3rem;
    cursor: pointer;
    & a {
        color: gainsboro;
    }
}







/////////////////////////////////*pied de page*////////////

footer {
    
    background-color: rgb(39, 41, 40);
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;

}
footer h2 {
    color: gainsboro;
    font-family: acier-bat-gris, sans-serif;
    font-style: normal;
    font-weight: 400;
    align-self: center;

    
}
footer h4 {
    color: gainsboro;
    align-self: center;
}
.menu-foot {
    flex-direction: column;
    display: flex;
    align-self: center;
    width: 50%;
    max-height: 50%;
}

.menu-foot a {
    text-decoration: none;
    color: gainsboro;
    display: flex;
    align-self: center;
    
}
.social-network {
    display: flex;
    align-self: center;
    flex-direction: column;
    padding-bottom: 5%;
    width: 50%;
    
}
.social-network a {
    text-decoration: none;
    color: gainsboro;
    
}
.social-network h4 {
    flex: 1;
}
.icones {
    display: flex;
    flex: 1;
    justify-content: space-around


}
.scroll-top {
    position: fixed;
    bottom: 50px;
    right: 20px;
    
}
#arrow-top {
    color: orangered;
    font-size: 2rem;
    
    
}